*{
    box-sizing: border-box;
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    height: 110px;
    width: 100%;
    background-color: #fefefeff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#navBarIzq{
    display: flex;
    overflow-wrap: anywhere;
    align-items: center;
    justify-content: space-around;
    width: 370px;
    min-width: 125px;
}

#navBarDer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 650px;
    min-width: 275px;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 15px 0px;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
}

nav a:hover{
    border-bottom: 5px solid #00754a;
    color: #00754a;
    transition: border-bottom 0.2s, color 0.3s;
}

button {
    font-size: 20px;
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border-style: solid;
    cursor: pointer;
}

nav button {
    font-weight: bold;
    background-color: black;
    border: black solid 3px;
    color: white;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

nav button:hover{
    background-color: transparent;
    border-color: #00754a;
    color: #00754a;
}

nav button:active{
    color: white;
    background-color: #00754a;
    transition: background-color;
}

.btnTransparent{
    margin-top: 15px;
    border-color: #eeeeee;
    color: #eeeeee;
    background-color: transparent;
    width: 150px;
    transition: background-color 0.5s;
}

.btnTransparent:hover{
    background-color: #cccccc35;
}

.btnTransparent:active{
    background-color: #88888830;
    transition: background-color;
}

#marca{
    width: 55px;
    height: 55px;
    background-image: url(../assets/logo.svg);
    background-size: cover;
}

#marcadorIcon{
    display: inline-flex; /* Flex para alinear ícono y texto */
    background-image: url(../assets/uAIcon.png); /* Ruta del ícono */
    background-repeat: no-repeat; /* Evitar repetición */
    background-size: 40px 45px; /* Tamaño del ícono */
    padding-left: 45px; /* Espacio para el ícono */
    transition: border-bottom 0.3s, color 0.3s, background-image 0.5s; /* Transiciones */
}

#marcadorIcon:hover{
    background-image: url(../assets/uAIconHover.png);
}




main{
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

main h1 {
    font-size: 36px;
    padding-bottom: 24px;
}

.banner{
    display: flex;
    overflow-wrap:anywhere;
    background-color: #1e3932;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.banner p{
    font-size: 25px;
    line-height: 40px;
}

.banner div{
    align-content: center;
    margin: 5%;
}

.imgMid{
    width: 50%;
}

.lima{
    background-color: #CAE390;
    color: black;
}

.thanos{
    background-color: #554e82;
}

#novedades img{
    width: 100%;
    margin-bottom: 20px;
}

#novedades article{
    width: 50%;
    padding-bottom: 30px;
}

#novedades .lima button{
    color: black;
    border-color: black;
}

#leyenda{
    position: fixed;
    bottom: 0;
    font-size: 15px;
    align-content: center;
    background-color: #1e3932;
    color: white;
    padding: 4px;
    height: auto;
    width: 100%;
}

footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    background:linear-gradient(to bottom, #1e3932, #15724F);
    box-shadow: 0px -2px 12px 3px #000000aa;
    color: #dddddd;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
    margin-bottom: 25px;
}

footer a{
    text-decoration: none;
    color: #dddddd;
}

footer a:hover{
    color: #aaaaaa;
}

ul{
    list-style: none;
}

#footerLinks1{
    display: flex;
    flex-direction: row;
    line-height: 300%;
    text-decoration: none;
    border-bottom: #00754a ridge 2px;
    margin-bottom: 3%;
}

#footerLinks1 article{
    margin: 3% 5%;
    color: #478c5f;
}

#footerMultimedia{
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 3%;
}

#footerMultimedia a{
    width: 50px;
    height: 50px;
    background-size: cover;
}

#fbIcon{
    background-image: url(../assets/media/fbIcon.png);
}

#igIcon{
    background-image: url(../assets/media/igIcon.png);
}

#twIcon{
    background-image: url(../assets/media/twIcon.png);
}

#ytIcon{
    background-image: url(../assets/media/ytIcon.png);
}

#footerLinks2, .footerDerechos{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    gap: 1%;
}

footer h6, footer h6 a{
    color: #6fb086;
    font-size: 12px;
}